annotated-types==0.6.0
anyio==4.3.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7  # Potentially optional, review usage
fastapi==0.110.2
filelock==3.13.4
h11==0.14.0
idna==3.7
numpy==1.26.4  # Potentially optional, review usage for transformers
packaging==24.0
pydantic==2.7.0
regex==2024.4.16
requests==2.31.0
tokenizers==0.19.1
torch==2.2.2
transformers==4.40.0
typing_extensions==4.11.0
uvicorn==0.29.0
